<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link rel="stylesheet" th:href ="@{/lib/bootstrap.min.css}"  href="../lib/bootstrap.min.css" />
		<link rel="stylesheet" th:href ="@{/css/2016msg_style.css}"  href="../css/2016msg_style.css" />
		<link rel="stylesheet" th:href ="@{/css/2016cjy-ss-style.css}"  href="../css/2016cjy-ss-style.css" />
		<title>个人中心-我的收藏-我的订阅</title>
	</head>

	<body style="overflow: auto;">
		<!--头部大图开始-->
		<div th:replace="common :: head_img" id="ss-top">
			<img th:src="@{/images/2016cjy-ss-top.jpg}" src="../images/2016cjy-ss-top.jpg" />
			<div class="comment-logo"><a href="#" class="logo"></a></div>
		</div>
		<!--头部大图结束-->
		<!--主体开始-->
		<div id="content" class="ss-con">
			<!--面包屑开始-->
			<div th:replace="common :: crumb (我的预约)" class="curmb">
				<a href="http://www.gdmoa.org">首页</a><span>/</span>
				<a href="../index.html">个人中心</a><span>/</span>
				<a href="javascript:;">我的预约</a>
			</div>
			<!--面包屑结束-->
			<div class="cont-sc clearfix">
				<!--左侧开始-->
				<div th:replace="common :: left_menu (sub)" class="cont-l">
					<dl>
						<dt class="dt1"><a href="javascript:;">我的收藏</a></dt>
						<div class="Js_leftNav">
							<dd>
								<a href="javascript:;" data-id="86">展览</a>
							</dd>
							<dd>
								<a href="./mediaCenter.html" data-id="116">媒体中心</a>
							</dd>
							<dd>
								<a href="./education.html" data-id="96">公共教育</a>
							</dd>
							<dd>
								<a href="./art.html" data-id="139">典藏鉴赏</a>
							</dd>
							<dd>
								<a href="./study.html" data-id="90">学术研究</a>
							</dd>
							<dd>
								<a href="./social.html" data-id="154">社会服务</a>
							</dd>
						</div>
						<dt class="dt2"><a href="./yuYue.html">我的预约</a></dt>
						<dt class="dt3"><a href="javascript:;" class="cur">我的订阅</a></dt>
						<dt class="dt4"><a href="./dingZhi.html">页面制定</a></dt>
						<dt class="dt5"><a href="javascript:;">个人设置</a></dt>
						<dd>
							<a href="./setting.html">修改信息</a>
						</dd>
						<dd>
							<a href="./addVolunteer.html">申请志愿者</a>
						</dd>
						<dd>
							<a href="./uploadHead.html">修改头像</a>
						</dd>
						<dd>
							<a href="./changePassword.html">修改密码</a>
						</dd>
					</dl>
				</div>
				<!--左侧结束-->
				<!--右侧开始-->
				<div class="cont-r">
					<div th:replace="common :: userInfo" class="grxx">
						<img th:src="@{/images/2016cjy-grxx.png}" src="../images/2016cjy-grxx.png" />
						<div class="grxx-zw">
							<p class="yw Js_name">xiefujundesign</p>
							<p>欢迎进入个人中心</p>
						</div>
					</div>
					<!--预约开始-->

					<!--订阅开始-->
					<div class="com-1">
						<div class="tit">我的订阅</div>
						<p>
							1、选择您感兴趣的栏目，点击保存按钮。
							<br/> 2、我们将定期将您感兴趣的内容发送到您的邮箱。
							<br/> 3、如要退订，请取消勾选全部栏目。
						</p>
						<div class="dynr Js_channelList">

						</div>
					</div>
					<!--订阅结束-->
					<!--预约结束-->
				</div>
			</div>
			<!--右侧结束-->

		</div>
		<!--主体结束-->
		<!--底部开始-->
		<div th:replace="common :: footer" id="footer">
			<div class="main">
				<span class="float-left">Copyright© 2004-2012 广东美术馆 gdmoa.org. All rights reserved 粤ICP备12071615号-1</span>
				<span class="float-right">
            <a href="#">网站留言</a>
            <a href="#">法律声明</a>
            <a href="#">友情链接</a>
            <a href="#">二维码</a>
        </span>
			</div>
		</div>
		<!--底部结束-->
		<!--弹出菜单开始-->
		<h2 class="tc-btn"><span class="btn"></span></h2>
		<!--弹出菜单结束-->
		<script  th:src="@{/js/page_common.js}" src="../js/page_common.js"></script>
        <script  th:src="@{/js/page_dingYue.js}" src="../js/page_dingYue.js"></script>
	</body>

</html>
